body {
    &::-webkit-scrollbar {
        height: 50px;
        width: var(--scrollbar-width);
        background-color: var(--background-dark);
    }

    &::-webkit-scrollbar-thumb {
        height: 50px;
        border-radius: .25rem;
        background-color: var(--scrollbar-fill);
    }

    &.scrollbar-hidden {
        &::-webkit-scrollbar {
            background-color: var(--background);
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--background);
        }
    }
}