@import url("../fonts/Whitney/style.css");

:root {
    --main-color: #5468ff;
    --main-color-dark: #4857c7;
    --main-color-grey: #636cb4;
    --background-light: rgb(58, 65, 111);
    --background-dark: rgb(33, 36, 61);

    --danger: #f04747;
    --danger-alt: #b12727;

    --warning: #ffd82a;
    --warning-alt: #cca700;
}

body {
    margin: 0;
    padding: 0;

    color: #fff;

    font-family: "Whitney", sans-serif;
    overflow: hidden;
    background-color: var(--background-light);
}

@font-face {
    font-family: "Uni Sans Heavy";
    src: url("../fonts/Uni\ Sans\ Heavy.otf");
    font-style: normal;
    font-weight: bold;
}

.btn {
    font-size: 15px;
    line-height: 16px;
    padding: 8px 18px;
    border: 1px solid transparent;

    &:focus {
        box-shadow: none !important;
    }

    &.primary {
        color: #fff;
        background-color: var(--main-color);
        border-color: var(--main-color);

        &:hover {
            border-color: var(--main-color-dark);
            background-color: var(--main-color-dark);
        }
    }

    &.primary-outline {
        color: var(--main-color);
        border-color: var(--main-color);
        background-color: transparent;
    }

    &.danger {
        color: #fff;
        background-color: var(--danger);
        border-color: var(--danger);

        &:hover {
            background-color: var(--danger-alt);
            border-color: var(--danger-alt);
        }
    }

    &.danger-outline {
        color: var(--danger);
        border-color: var(--danger);
        background-color: transparent;
    }

}

button+button {
    margin-left: 16px;
}

.warning-wrapper:hover .warning {
    opacity: 1;
}

.warning {
    transition: 0.2s ease;
    color: var(--warning) !important;
    font-size: 11px;
    padding-right: 1px;
    opacity: .2;
    cursor: pointer;

    &:hover {
        color: var(--warning-alt);
    }
}